 <section id="skills" class="section-shell section-shell-sm max-w-5xl mx-auto px-6 py-12">

        <h2 class="text-2xl font-semibold mb-10 text-center relative inline-block">
            Skill
            <span class="block h-1 w-16 bg-indigo-500 mt-2 mx-auto rounded"></span>
        </h2>

        <div class="grid md:grid-cols-2 gap-8">

           {% comment %} Hard Skills {% endcomment %}
            <div class="p-6 bg-white dark:bg-gray-800 rounded-xl shadow border-t-4 border-indigo-500">

                <div class="flex items-center gap-2 mb-4">
                    <h3 class="font-semibold text-lg">Hard Skills</h3>
                </div>

                <div class="flex flex-wrap gap-2 text-sm">
                    <span class="px-3 py-1 bg-indigo-100 text-indigo-600 rounded-full">Photoshop</span>
                    <span class="px-3 py-1 bg-indigo-100 text-indigo-600 rounded-full">Illustrator</span>
                    <span class="px-3 py-1 bg-indigo-100 text-indigo-600 rounded-full">CorelDRAW</span>
                    <span class="px-3 py-1 bg-indigo-100 text-indigo-600 rounded-full">Canva</span>
                    <span class="px-3 py-1 bg-indigo-100 text-indigo-600 rounded-full">CapCut</span>
                    <span class="px-3 py-1 bg-indigo-100 text-indigo-600 rounded-full">Blender</span>
                    <span class="px-3 py-1 bg-indigo-100 text-indigo-600 rounded-full">Microsoft Office</span>
                    <span class="px-3 py-1 bg-indigo-100 text-indigo-600 rounded-full">Google Workspace</span>
                    <span class="px-3 py-1 bg-indigo-100 text-indigo-600 rounded-full">Visual Studio Code</span>
                    <span class="px-3 py-1 bg-indigo-100 text-indigo-600 rounded-full">My SQL</span>
                    <span class="px-3 py-1 bg-indigo-100 text-indigo-600 rounded-full">UI / UX</span>
                </div>

            </div>

           {% comment %} Soft Skills {% endcomment %}
            <div class="p-6 bg-white dark:bg-gray-800 rounded-xl shadow border-t-4 border-green-500">

                <div class="flex items-center gap-2 mb-4">
                    <h3 class="font-semibold text-lg">Soft Skills</h3>
                </div>

                <div class="flex flex-wrap gap-2 text-sm">
                    <span class="px-3 py-1 bg-green-100 text-green-600 rounded-full">Disiplin</span>
                    <span class="px-3 py-1 bg-green-100 text-green-600 rounded-full">Kerja Tim</span>
                    <span class="px-3 py-1 bg-green-100 text-green-600 rounded-full">Manajemen Waktu</span>
                    <span class="px-3 py-1 bg-green-100 text-green-600 rounded-full">Inisiatif</span>
                    <span class="px-3 py-1 bg-green-100 text-green-600 rounded-full">Tanggung Jawab</span>
                    <span class="px-3 py-1 bg-green-100 text-green-600 rounded-full">Adaptif</span>
                </div>

            </div>

        </div>

    </section>
