 <section id="experience" class="max-w-5xl mx-auto px-6 py-12">
        <h2 class="text-2xl font-semibold mb-8 relative inline-block text-gray-800 dark:text-white">
            Pengalaman Kerja
            <span class="block h-1 w-20 bg-indigo-500 mt-2 rounded"></span>
        </h2>

    <div class="flex justify-between gap-4 p-5 bg-indigo-50 dark:bg-gray-800 rounded-xl shadow border-l-4 border-indigo-500">
    <div>
        <h3 class="font-semibold mb-1 text-gray-800 dark:text-white">Digital Marketing</h3>
        <p class="text-sm text-gray-500 dark:text-gray-400 mb-3">PT Sariling Aneka Energi (Jul 2024 - Des 2024)</p>
        <ul class="text-sm text-gray-600 dark:text-gray-400 space-y-1">
            <li>+30% visibilitas melalui SEO</li>
            <li>+25% CTR dari desain thumbnail</li>
            <li>+20% engagement konten</li>
            <li>Analisis data & riset kompetitor</li>
            <li>+15% peningkatan penjualan</li>
        </ul>
    </div>
    <div class="flex-shrink-0">
        <span class="icon-[mdi--briefcase-variant] text-indigo-500 text-3xl"></span>
    </div>
</div>
    </section>